.navbar-brand, .nav-link {
    transition: color 0.3s ease;
}

.navbar-brand:hover, .nav-link:hover {
    color: #39ff14 !important; /* Phosphorescent/neon green color */
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14;
}

/* Set initial color for specific navigation items */
.navbar-brand, .nav-item .nav-link {
    color: #fff !important;
}

/* Masthead styles */
.masthead h1.text-uppercase {
    color: #39ff14 !important; /* Verde fosforescente */
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14;
}

.masthead h2.text-green {
    color: #00bfff !important; /* Azul claro */
    opacity: 0.9;
}

/* Estilos para la página de autenticación */
.auth-section {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/ciberseguridad.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.auth-section .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.auth-section .card-header {
    border-radius: 15px 15px 0 0;
}

.auth-section .form-control {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 5px;
}